@media (max-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    background: #fff;
  }
  .layout-fixed .main-sidebar {
    width: auto !important;
    bottom: 20px !important;
    height: auto !important;
    position: relative !important;
    top: 0 !important;
    width: auto !important;
  }

  .sidebar {
    margin-top: 10px !important;
  }
}
@media (max-width: 912px) {
  .layout-fixed .main-sidebar {
    width: auto !important;
    bottom: 20px !important;
    height: auto !important;
    position: relative !important;
    top: 0 !important;
    width: auto !important;
  }

  .sidebar {
    margin-top: 10px !important;
  }
}
@media (max-width: 820px) {
  .layout-fixed .main-sidebar {
    width: auto !important;
    bottom: 20px !important;
    height: auto !important;
    position: relative !important;
    top: 0 !important;
    width: auto !important;
  }

  .sidebar {
    margin-top: 10px !important;
  }
}
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
  .layout-fixed .main-sidebar {
    bottom: 20px !important;
    height: auto !important;
    position: relative !important;
    top: 0 !important;
    width: auto !important;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 540px) {
}
