@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
body {
  font-family: "PT Serif", serif;
  color: #3c434b;
  font-size: 1rem;
}

a {
  text-decoration: none !important;
}

* {
  margin: 0;
  padding: 0;
}
.form-control:focus {
  box-shadow: none !important;
}
.nav-item .btn:focus {
  outline: none;
  box-shadow: none;
}
.btn:focus {
  box-shadow: none !important;
}

/* navbar css*/

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.logo img {
  height: auto;
  max-height: 50px;
}

.nav-item .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-contact {
  font-weight: 600 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  /* transition: all 0.3s ease; */
  color: #999;
  font-weight: 700;
}
.indexNav .top_nav_down .bg-nav {
  background-color: #fff !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar-collapse.collapse.show {
  background: #fff !important;
}
.main_header .navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.nav-item .btn-primary {
  color: #fff !important;
  display: inline-block;
  padding: 4px 16px !important;
  font-size: 14px !important;
  font-weight: 700;
  line-height: 2;
  margin-left: 8px;
  background-color: #07f;
  border-color: #07f;
  border-radius: 18px;
}

.main_header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  left: 0;
  right: 0;
}

/* end of navbar css*/

/* sidebar css */
.search_items .form-control {
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999;
  padding: 12px;
  border-radius: 0;
  border-right: 0;
  height: 38px;
  border: 0;
}
.search_items .input-group-append .btn {
  line-height: 1.5;
}
.layout-fixed .main-sidebar {
  bottom: 0;
  float: none;
  height: 100vh;
  position: fixed;
  top: 75px;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 250px;
}

.elevation-4 {
  box-shadow: none !important;
}
[class*="sidebar-dark-"] {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
.layout-fixed .wrapper .sidebar {
  height: calc(100vh - (3.5rem + 1px));
}
.layout-fixed.margin-top {
  margin-top: 20px;
}
.sidebar {
  height: calc(100% - (3.5rem + 1px));
  overflow-y: auto;
  padding: 0;
  margin-top: 20px;
}
.sidebar-mini .nav-sidebar,
.sidebar-mini .nav-sidebar .nav-link,
.sidebar-mini .nav-sidebar > .nav-header {
  white-space: nowrap;
  overflow: hidden;
}

.main-sidebar {
  height: 100vh;
  overflow-y: hidden;
  z-index: 1038;
}
.nav-sidebar {
  position: relative;
}
.nav-sidebar > .nav-item {
  margin-bottom: 0;
}
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link.active {
  box-shadow: none;
}

.nav-sidebar > .nav-item .nav-icon {
  margin-left: 0.05rem;
  font-size: 1.2rem;
  margin-right: 0.2rem;
  text-align: center;
  width: 1.6rem;
}
.nav-sidebar .nav-link p {
  font-size: 12px;
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
  display: inline-block;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  margin: 0;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: rgb(0 0 0 / 10%);
  color: #000;
  border-radius: 0;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 0;
}
.sidebar .nav-link {
  padding: 0.3rem 1rem;
  color: #000;
  font-size: 14px;
  height: 32px;
  line-height: 20px;
}
/* image_section css */
#flexbox {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 7px; */
}

.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 7px;
}

.column img {
  vertical-align: middle;
  margin-top: 14px;
  /* filter: grayscale(70%); */
}

.column:nth-child(even) {
  display: flex;
  flex-direction: column-reverse;
}
/* hover over image css */
.image-grid,
.image-grid .image {
  position: relative;
}

.image-grid {
  text-align: center;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.image-grid .image a {
  display: block;
}

.image-grid .image img {
  width: 100%;
  height: auto;
}

.image-grid .pic-1 {
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}

.image-grid:hover .pic-1 {
  opacity: 0;
}

.image-grid .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
}

.image-grid:hover .pic-2 {
  opacity: 1;
}
.image-grid .social {
  width: auto;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -8px;
  transform: translateY(-50%);

  transition: all 0.3s ease 0s;
}
.image-grid .social li {
  display: inline-block;
  opacity: 0;
  transition: all 0.7s;
}

.image-grid .social li:nth-child(1) {
  transition-delay: 0.15s;
}

.image-grid .social li:nth-child(2) {
  transition-delay: 0.3s;
}

.image-grid .social li:nth-child(3) {
  transition-delay: 0.45s;
}

.image-grid:hover .social li {
  opacity: 1;
}
.image-grid .social li a {
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 400;
}
/* .image a:before{
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .88));
} */
.image-grid .social li a:after,
.image-grid .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}

.image-grid .social li a:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  top: -22px;
  z-index: -1;
}

.image-grid .social li a:hover:after,
.image-grid .social li a:hover:before {
  opacity: 1;
}
/* scroll to top */

#button {
  display: inline-block;
  background-color: #000;
  width: 30px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  /* border-radius: 50%; */
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button i {
  color: #fff;
  margin: 0;
  position: relative;
  top: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}

#button:hover i {
  top: 5px;
}

#button:hover {
  cursor: pointer;
  background-color: #202125;
}

#button:active {
  background-color: #202125;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* end scroll to top */
/* sticky login right side */

.colorPanel {
  padding: 5px;
  position: fixed;
  z-index: 100;
  min-width: 20px;
  background-color: #07f;
  top: 40%;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
  right: 0;
}
#viewMenu {
  writing-mode: vertical-lr;
  color: white;
  display: block;
  padding: 12px 0;
}

/* login modal css */

.login-modal .modal-content {
  border-radius: 8px;
}
.login-modal .modal-header{
  padding: .5rem 1rem;
}
.login-modal button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  height: 20px;
}

.login-modal .btn-close:focus {
  box-shadow: none;
}
.login-modal .login-page .modal-body {
  padding: 30px;
}

.login-modal .btn-facebook {
  background-color: #fff;
  border-radius: 20px;
  border-color: #ddd;
}
.login-modal .btn-google {
  background-color: #fff;
  border-radius: 20px;
  border-color: #ddd;
}
.login-modal .btn-facebook i {
  color: rgb(24, 119, 242);
  font-size: 20px;
}
.login-modal .btn-google i {
  color: #d34836;
  font-size: 20px;
}
.login-modal .btn:hover {
  background-color: #ddd;
  border-radius: 20px;
  border-color: #ddd;
}
.login-modal .login-page .btn {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: 1.6;
  padding: 0.475rem 0.5rem;
}
.login-modal .login_title {
  font-size: 16px;
  font-weight: 500;
  color: #202125;
}
.font-small {
  font-size: 12px;
}
