<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Pexels</title>
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <link rel="icon" type="image/x-icon" href=".\images\logo.png" />
    <link rel="stylesheet" href=".\css\style.css" />
    <link rel="stylesheet" href=".\css\media.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="colorPanel">
      <a
        id="viewMenu"
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
        >Login</a
      >
    </div>
    <div class="main_header indexNav">
      <div class="header-down top_nav_down" id="main_menus">
        <nav class="navbar navbar-expand-lg bg-nav">
          <div class="container">
            <div class="d-flex">
              <a class="logo" href="#">
                <img src=".\images\logo.png" alt="navbar-logo" />
              </a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span
                class="navbar-toggler-icon d-flex align-items-center justify-content-center"
                ><i class="fa fa-bars"></i
              ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-primary" href="#">Sign up</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <section class="layout-fixed margin-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
              <div class="sidebar">
                <div class="card rounded-0 search_items mb-3">
                  <div class="input-group">
                    <input
                      type="text"
                      name="query"
                      class="form-control"
                      id="searchForm"
                      placeholder="Search Something"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Search Something'"
                    />

                    <div class="input-group-append">
                      <button class="btn" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <nav>
                  <ul
                    class="nav nav-pills nav-sidebar flex-column"
                    data-widget="treeview"
                    role="menu"
                    data-accordion="false"
                  >
                    <li class="nav-item">
                      <a href="" class="nav-link active">
                        <i class="nav-icon fa-solid fa-house"></i>

                        <p>Most Viewed</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="" class="nav-link">
                        <i class="fa-regular fa-heart nav-icon"></i>

                        <p>Top Liked</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="" class="nav-link">
                        <i class="nav-icon fa-solid fa-arrow-trend-up"></i>

                        <p>New Uploads</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="" class="nav-link">
                        <i class="nav-icon fa-solid fa-location-dot"></i>
                        <p>Nepal</p>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- /.sidebar-menu -->
              </div>
            </aside>
          </div>
          <div class="image-content col-12 col-md-8 col-lg-9 pb-5">
            <div id="flexbox">
              <div class="column">
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i>
                        
                        </a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          >
                          <!-- <i class="fa-solid fa-circle-down"></i>
                          <i class="fa-solid fa-cloud-arrow-down"></i> -->
                          <!-- <i class="fa-solid fa-cloud-arrow-down"></i> -->
                          <i class="fa-solid fa-download"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1cfqbl28ezKPikIXApzZQOEUPwKm2AKrr"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1cfqbl28ezKPikIXApzZQOEUPwKm2AKrr"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1I-bDFOoYZ-XUZkwDxRJmtiR_7DGVn_Eb"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1I-bDFOoYZ-XUZkwDxRJmtiR_7DGVn_Eb"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=10PElUch6-oxpjga6Pe6PoHd2VUXZkUfu"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=10PElUch6-oxpjga6Pe6PoHd2VUXZkUfu"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1HAh9siwne5Fa39G2qIppry-aHrrFRrzb"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1HAh9siwne5Fa39G2qIppry-aHrrFRrzb"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1YBHz72VKXRNUPge-h8pQvuVotim7LUq5"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1YBHz72VKXRNUPge-h8pQvuVotim7LUq5"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1TwVoVT9UxlmmQO125b-lD7kbswYqCdgy"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1TwVoVT9UxlmmQO125b-lD7kbswYqCdgy"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1y9uOpY2Uwht88vdYBJV8BD1FenayFQpr"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1y9uOpY2Uwht88vdYBJV8BD1FenayFQpr"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1cfqbl28ezKPikIXApzZQOEUPwKm2AKrr"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1cfqbl28ezKPikIXApzZQOEUPwKm2AKrr"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1I-bDFOoYZ-XUZkwDxRJmtiR_7DGVn_Eb"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1I-bDFOoYZ-XUZkwDxRJmtiR_7DGVn_Eb"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=10PElUch6-oxpjga6Pe6PoHd2VUXZkUfu"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=10PElUch6-oxpjga6Pe6PoHd2VUXZkUfu"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1HAh9siwne5Fa39G2qIppry-aHrrFRrzb"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1HAh9siwne5Fa39G2qIppry-aHrrFRrzb"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1YBHz72VKXRNUPge-h8pQvuVotim7LUq5"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1YBHz72VKXRNUPge-h8pQvuVotim7LUq5"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1TwVoVT9UxlmmQO125b-lD7kbswYqCdgy"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1TwVoVT9UxlmmQO125b-lD7kbswYqCdgy"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1y9uOpY2Uwht88vdYBJV8BD1FenayFQpr"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1y9uOpY2Uwht88vdYBJV8BD1FenayFQpr"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1cfqbl28ezKPikIXApzZQOEUPwKm2AKrr"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1cfqbl28ezKPikIXApzZQOEUPwKm2AKrr"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1I-bDFOoYZ-XUZkwDxRJmtiR_7DGVn_Eb"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1I-bDFOoYZ-XUZkwDxRJmtiR_7DGVn_Eb"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1y9uOpY2Uwht88vdYBJV8BD1FenayFQpr"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1y9uOpY2Uwht88vdYBJV8BD1FenayFQpr"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1U4Z-2GJcRDtIAmZt4ej0MOF_NvA0ntzS"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1HAh9siwne5Fa39G2qIppry-aHrrFRrzb"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1HAh9siwne5Fa39G2qIppry-aHrrFRrzb"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1YBHz72VKXRNUPge-h8pQvuVotim7LUq5"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1YBHz72VKXRNUPge-h8pQvuVotim7LUq5"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1TwVoVT9UxlmmQO125b-lD7kbswYqCdgy"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1TwVoVT9UxlmmQO125b-lD7kbswYqCdgy"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1DU-S82guX9KooYyfDavkg1M_kpXAVrs1"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="image-grid">
                  <div class="image">
                    <a href="">
                      <img
                        class="pic-1"
                        src="https://docs.google.com/uc?export=download&id=1y9uOpY2Uwht88vdYBJV8BD1FenayFQpr"
                        alt="Image"
                        width="100%"
                      />
                      <img
                        class="pic-2"
                        src="https://docs.google.com/uc?export=download&id=1y9uOpY2Uwht88vdYBJV8BD1FenayFQpr"
                        alt="Image"
                        width="100%"
                      />
                    </a>
                    <ul class="social">
                      <li>
                        <a href="" data-tip="Quick View"
                          ><i class="fa-solid fa-plus"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Quick View"
                          ><i class="fa-regular fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Download"
                          ><i class="fa-solid fa-download"></i></a>
                      </li>
                      <li>
                        <a href="#" data-tip="Share"
                          ><i class="fa-solid fa-share"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="login-modal">
      <div class="modal fade login-page" id="loginModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="" method="POST">
                <div class="row">
                  <div class="col-md-12">
                    <div class="logo text-center mb-3">
                      <img src="./images/logo.png" alt="" />
                    </div>
                    <!-- <div class="login mb-4">
                      <h3 class="text-center login_title">Login with</h3>
                    </div> -->

                    <div class="flex items-center justify-end mb-3 mt-4">
                      <a class="btn btn-facebook w-100" href="">
                        <div class="row">
                          <div class="col-lg-2 col-md-4">
                            <i class="fa-brands fa-facebook"></i>
                          </div>
                          <div class="col-lg-8 col-md-8">Continue with Facebook</div>
                        </div>
                      </a>
                    </div>

                    <div class="flex items-center justify-end">
                      <a class="btn btn-google w-100" href="">
                        <div class="row">
                          <div class="col-lg-2 col-md-4">
                            <i class="fa-brands fa-google-plus-g"></i>
                          </div>
                          <div class="col-lg-8 col-lg-8">Continue with Google</div>
                        </div>
                       
                      </a>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-md-12">
                  <h5 class="font-small mt-3 float-end">
                    New member?
                    <a href="">Register </a>here
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a id="button"><i class="fas fa-angle-up"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src=".\js\index.js"></script>
  </body>
</html>
